/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$header-height: 4em;
$footer-height: 2em;
$left-width: 120px;
$right-width: 130px;

.clear:after {
	content: "";
	display: block;
	clear: both;
	visibility: hidden;
}

body {
	background-color: #F6F6F4;
}

h1 {
	background-color: #FFBBCF;
	color: #A63D5B;
	text-align: center;
	font-size: $header-height;
	font-weight: bold;
	text-shadow: -2px -2px 2px #A63D5B;
}

.content {
	background: url(images/header.jpg) repeat-x;
	padding-top: 15px;
	position: absolute;
	top: $header-height;
	left: 0;
	right: 0;
	bottom: $footer-height;
	min-height: 400px;
}

.wall {
	height: 100%;
	background: url(images/content.jpg);
}

.weibo {
	padding: 15px;
	padding-left: 0;
	height: 20%;
	color: black;
}

.wrapper {
	position: relative;
}

.weibo:nth-child(odd) {
	background-color: #EC7A9B;
	box-shadow: 0 10px 20px -10px #CA4A6D inset;
}

.weibo:first-child {
	box-shadow: none;
}

.weibo:nth-child(even) {
	box-shadow: 0 -10px 20px -10px #CA4A6D;
}

.context {
	font-size: 1.2em;
	color: #A63D5B;
	padding: 10px;
	background-color: #FFDAE4;
	border-radius: 7px;
	line-height: 30px;
	position: relative;
	display: table-cell;
}

.context:after {
	content: "";
	position: absolute;
	left: -24px;
	top: 14px;
	display: block;
	border-width: 12px;
	border-style: solid;
	border-color: transparent #FFDAE4 transparent transparent;
}

.people {
	float: left;
	text-align: center;
	width: $left-width;
}

.avatar {
	border: 2px solid white;
	border-radius: 4px;
	width: 5em;
	margin-bottom: 5px;
}

.name {
	margin-top: 5px;
	color: black;
}

.picture {
	height: 100%;
	float: right;
	border: 2px solid white;
	border-radius: 4px;
	margin-left: 10px;
}

h2 {
	color: #675C53;
	line-height: $footer-height;
	font-size: $footer-height;
	font-weight: bold;
	text-align: right;
	text-shadow: -1px -1px 1px #675C53;
	background: url(images/footer.jpg) repeat-x;
	padding-right: 20px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}