!!! 5
%html
  %head
    %title='Weibo Wall'
    %script{:src => '/js/lib/jquery-1.7.2.min.js', :type => 'text/javascript'}
    %script{:src => '/js/lib/pure_min.js', :type => 'text/javascript'}
    %script{:src => '/js/index.js', :type => 'text/javascript'}
    %link{:href => "/css/screen.css", :rel =>"stylesheet", :type => "text/css", :media => "screen" }
  %body
    %h1='Weibo Wall'
    %ul.feeds
      %li
        %img{:src => ''}
        %span.context
