!!! 5
%html
  %head
    %title='Weibo Wall'
    %script{:src => '/js/lib/jquery-1.7.2.min.js', :type => 'text/javascript'}
    %script{:src => '/js/lib/pure_min.js', :type => 'text/javascript'}
    %script{:src => '/js/index.js', :type => 'text/javascript'}
    %link{:href => "/css/screen.css", :rel =>"stylesheet", :type => "text/css", :media => "screen" }
  %body
    %article
      %header
        %h1='Words of Girls'
      %section.content
        %ul.wall
          %li.clear.weibo
            .people
              %img.avatar{:src => ''}
              %br
              %span.name
            %img.picture{:src => ''}
            %p.context
      %footer
        %h2='Thoughtworks'
