/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../.rvm/gems/ruby-1.9.2-p290@weibowall/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../.rvm/gems/ruby-1.9.2-p290@weibowall/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../.rvm/gems/ruby-1.9.2-p290@weibowall/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../.rvm/gems/ruby-1.9.2-p290@weibowall/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../.rvm/gems/ruby-1.9.2-p290@weibowall/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../.rvm/gems/ruby-1.9.2-p290@weibowall/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../.rvm/gems/ruby-1.9.2-p290@weibowall/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../.rvm/gems/ruby-1.9.2-p290@weibowall/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../.rvm/gems/ruby-1.9.2-p290@weibowall/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 13, ../../sass/screen.scss */
.clear:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
}

/* line 20, ../../sass/screen.scss */
body {
  background-color: #F6F6F4;
}

/* line 24, ../../sass/screen.scss */
h1 {
  background-color: #FFBBCF;
  color: #A63D5B;
  text-align: center;
  font-size: 4em;
  font-weight: bold;
  text-shadow: -2px -2px 2px #a63d5b;
}

/* line 33, ../../sass/screen.scss */
.content {
  background: url(images/header.jpg) repeat-x;
  padding-top: 15px;
  position: absolute;
  top: 4em;
  left: 0;
  right: 0;
  bottom: 2em;
  min-height: 400px;
}

/* line 44, ../../sass/screen.scss */
.wall {
  height: 100%;
  background: url(images/content.jpg);
}

/* line 49, ../../sass/screen.scss */
.weibo {
  padding: 15px;
  height: 20%;
  color: black;
}

/* line 55, ../../sass/screen.scss */
.weibo:nth-child(odd) {
  background-color: #EC7A9B;
  box-shadow: 0 10px 20px -10px #ca4a6d inset;
}

/* line 60, ../../sass/screen.scss */
.weibo:first-child {
  box-shadow: none;
}

/* line 64, ../../sass/screen.scss */
.weibo:nth-child(even) {
  box-shadow: 0 -10px 20px -10px #ca4a6d;
}

/* line 68, ../../sass/screen.scss */
.context {
  font-size: 1.2em;
  color: #A63D5B;
  padding: 10px;
  background-color: #FFDAE4;
  border-radius: 7px;
  line-height: 30px;
  position: relative;
  display: table-cell;
}

/* line 79, ../../sass/screen.scss */
.context:after {
  content: "";
  position: absolute;
  left: -24px;
  top: 14px;
  display: block;
  border-width: 12px;
  border-style: solid;
  border-color: transparent #FFDAE4 transparent transparent;
}

/* line 90, ../../sass/screen.scss */
.people {
  float: left;
  text-align: center;
  width: 120px;
}

/* line 96, ../../sass/screen.scss */
.avatar {
  border: 2px solid white;
  border-radius: 4px;
  width: 64px;
  margin-bottom: 5px;
}

/* line 103, ../../sass/screen.scss */
.name {
  margin-top: 5px;
  color: black;
}

/* line 108, ../../sass/screen.scss */
.picture {
  height: 100%;
  float: right;
  border: 2px solid white;
  border-radius: 4px;
  margin-left: 10px;
}

/* line 116, ../../sass/screen.scss */
h2 {
  color: #675C53;
  font-size: 2em;
  font-weight: bold;
  text-align: right;
  text-shadow: -1px -1px 1px #675c53;
  background: url(images/footer.jpg) repeat-x;
  padding-right: 20px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
